body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b132b;
  color: white;
  text-align: center;
}

.center {
  margin-top: 40vh;
}

button {
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
}

#scenario-box {
  margin-top: 60px;
}

#options button {
  display: block;
  margin: 10px auto;
}