body {
  font-family: Arial;
  background: #111;
  color: #eee;
  text-align: center;
}

.center {
  margin-top: 20%;
}

button {
  padding: 15px;
  margin: 10px;
  font-size: 16px;
}

img {
  max-width: 300px;
  margin: 20px;
}
